<div class="container">
<p>Welcome, <%= session[:name] %> (<%= session[:role] %>)</p>
<div class="row center">
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content  green white-text">
                <p class="card-stats-title"><i class="material-icons">contacts</i> Departments</p>
                <h4 class="card-stats-number"><%= Guru::Department.total %></h4>
                
            </div>
            
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content purple white-text">
                <p class="card-stats-title"><i class="material-icons">error_outline</i> Total Tickets</p>
                <h4 class="card-stats-number"><%= Guru::Ticket.total session %></h4>
                
            </div>
            
        </div>
    </div>                            
    
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content blue-grey white-text">
                <p class="card-stats-title"><i class="material-icons">warning</i> Unresolved Issues</p>
                <h4 class="card-stats-number"><%= Guru::Ticket.total_by_status(session,Guru::Config::STATUS_PENDING) %></h4>
            </div>
           
        </div>
    </div>


    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content pink lighten-2 white-text">
                <p class="card-stats-title"><i class="material-icons">speaker_notes</i> Notification</p>
                <h4 class="card-stats-number"><%= Guru::Notification.total session %></h4>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
 <div class="col s6 m6">
  <ul id="task-card" class="collection with-header">
      <li class="collection-header teal white-text">
          <h4 class="task-card-title">Latest Tickets</h4>
      </li>
      <% 
        if Guru::Access.admin? session[:role]
          tickets = Guru::Ticket.list
        elsif Guru::Access.customer? session[:role]
          tickets = Guru::Ticket.search('uid', session[:uid]) 
        else
          tickets = Guru::Ticket.search('department',session[:department])
        end
        count = 0
        tickets.each{|id,records| %>
      <li class="collection-item">
          
          <label for="task1" style="text-decoration: none;"><%= records['title'] %>
          <a href="/view/ticket/<%= id %>" class="secondary-content"><span class="ultra-small"><i class="material-icons">visibility</i></span></a>
          </label>
          <span class="chip grey pad lighten-2"><%= records['department'] %></span>
          <span class="chip <%= Guru::Config.priority_color(records['priority']) %> pad lighten-2"><%= records['priority'] %></span>
          <span class="chip <%= Guru::Config.status_color(records['status']) %> pad lighten-2"><%= records['status'] %></span>

      </li>
      <% count += 1 
        if count > 9
          break
        end
      } %>
      
  </ul>
</div>


 <div class="col s6 m6">
  <ul id="task-card" class="collection with-header">
      <li class="collection-header pink white-text">
          <h4 class="task-card-title">Notication</h4>
      </li>
      <% 
          if Guru::Access.admin? session[:role]
            notifications = Guru::Notification.list
          elsif Guru::Access.customer? session[:role]
            notifications = Guru::Notification.search('uid',session[:uid])
          else
            notifications = Guru::Notification.search('department',session[:department])
          end
          
          notifications.each{|id,records| %>
            <li class="collection-item avatar">
            <img src="images/user.jpg" alt="" class="circle">
            
            <p><%= records['comment'] %></p>
          </li>
      <% count += 1 
        if count > 9
          break
        end
      } %>
      
  </ul>
</div>
</div>
</div>