<div class="container">
  <div class="row" style="margin-top:20px;">
    
    <div class="card pad10">
    <h4>Raise Ticket</h4>
      <div class="row">
      
        <form class="col s12" action="/ticket" method="post">
         <%= Guru::MaterialHtml::input_field('text','title','Title','',{'required'=>'required','class'=>'animated bounceInRight'}) %>
         
         <%= Guru::MaterialHtml::select('department','Department',Guru::Department.list_data,'',{'prompt'=>'Select Department','class'=>'animated bounceInLeft'}) %>

         <%= Guru::MaterialHtml::select('priority','Priority',Guru::Config.priority,'',{'prompt'=>'Select Priority'}) %>

         <%= Guru::MaterialHtml::text_area('description','Issue Description','',{'required'=>'required','class'=>'animated bounceInRight'}) %>

         <%= Guru::MaterialHtml::submit('Create','',{'class'=>'right'}) %>
        </form>
      </div>
    </div>
  </div>

</div>