
<div class="center centralize" style="max-width: 500px">
<h3>New User</h3>

<div class="row card">
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        
        <%= Guru::MaterialHtml::input_field('text','name','Name','',{'required'=>'required','icon'=>'account_circle'}) %>     

        <%= Guru::MaterialHtml::input_field('text','location','Location','',{'required'=>'required','icon'=>'my_location'}) %>

        <%= Guru::MaterialHtml::input_field('email','email','Email','',{'required'=>'required','icon'=>'email'}) %>

      <%= Guru::MaterialHtml::input_field('password','password','Password','',{'required'=>'required','icon'=>'vpn_key'}) %>


         <%= Guru::MaterialHtml::select('role','Role',{'customer'=>'Customer','admin'=>'Admin','customer_care'=>'Customer Care'},'',{'prompt'=>'Select Role'}) %>


         <%= Guru::MaterialHtml::select('department','Department',{'success'=>'Success','recruitment'=>'Recruitment'},'',{'prompt'=>'Select Department'}) %>

        <%= Guru::MaterialHtml::submit('Create User','',{'class'=>'waves-effect waves-light right'}) %>
      </div>
    </form>
  </div>
</div>
</div>