<div class="container">
  <div class="row" style="margin-top:20px;">
    
    <div class="card pad10">
      <div class="row">
      <div class="radius-top grey lighten-4 pad10" style="margin-top: -23px">
          <h5><%= @record['title']  %> <small class="right" style="font-size:10pt">At: <%= @record['created_at'] %></small></h5> 
          <span class="chip grey pad lighten-2"><%= @record['department'] %></span>
          <span class="chip <%= Guru::Config.priority_color(@record['priority']) %> pad lighten-2"><%= @record['priority'] %></span>
          <span class="chip <%= Guru::Config.status_color(@record['status']) %> pad lighten-2"><%= @record['status'] %></span>
        </div>
        <div class="row" style="padding-left:20px">
          <div class="chip cyan lighten-2">
            <img src="/images/user.jpg" alt="Contact Person">
            <%= @record['user']  %>
          </div>
          <div class="talk-bubble tri-right left-top">
          
            <div class="talktext">
              <p><%= @record['description']  %></p>
            </div>
          </div>
        </div>
        <% if (Guru::Config::STATUS_PENDING == @record['status']) || (Guru::Config::STATUS_PROGRESS == @record['status']) %>
        <a href="/update/ticket/<%= @record['id']  %>" class="btn red">Close Issue</a>
        <% end %>
        <hr/>
      </div>


      <% 
        replies = Guru::TicketReply.list(@record['id'])
        replies.each{|id,records|  %>
          <div class="row" style="padding-left:20px">

          <div class="chip cyan lighten-2 <%= session[:uid] == records['uid'] ? 'right' : '' %>" style="<%= session[:uid] == records['uid'] ? 'margin-right: 20px; margin-top:50px' : '' %>">
            <img src="/images/user.jpg" alt="Contact Person">
            <%= records['user'] %>
          </div>
          <div class="talk-bubble tri-right <%= session[:uid] == records['uid'] ? 'right' : 'left' %>-top <%= session[:uid] == records['uid'] ? 'right' : '' %>">
          
            <div class="talktext" style="min-width:300px">
              <p><%= records['comment'] %> 
              <% if ((Guru::Config::STATUS_PENDING == @record['status']) || (Guru::Config::STATUS_PROGRESS == @record['status'])) && session[:uid] == records['uid'] %>
              <a href="/reply/<%= @record['id'] %>/<%= id  %>" class="right"> <i class="material-icons">delete</i></a>
<% end %>
              </p>
            </div>
          </div>
        </div>

      <%  } %>
        
       
<% if (Guru::Config::STATUS_PENDING == @record['status']) || (Guru::Config::STATUS_PROGRESS == @record['status']) %>
         <div class="row" style="padding-left:20px">
          
          <div class="talk-bubble tri-right left-top" style="min-width:700px;">
          <div class="chip cyan lighten-2">
            <img src="/images/user.jpg" alt="Contact Person">
            <%= session[:name] %>
          </div>
            <div class="talktext">
                <form class="col s12" action="/reply" method="post" id="reply">
              <%= Guru::MaterialHtml::text_area('comment','Comment','',{'required'=>'required'}) %>
              <%= Guru::MaterialHtml::input_field('hidden','ticket_id','',@record['id'],{'required'=>'required'}) %>
              <%= Guru::MaterialHtml::submit('Send','',{'class'=>'right'}) %>
                </form>
              
            </div>
          </div>
        </div>

       
        <% end %>

      

      </div>

      </div>
    </div>
  </div>

</div>